{{#partial "contenido"}}
    <div class="card mt-4">
        <div class="card-header">
            <h1>Detalle del Incidente</h1>
        </div>
        <div class="card-body">
            <p><strong>ID del Incidente:</strong> {{incidente.id}}</p>
            <p><strong>Observaciones:</strong> {{incidente.observaciones}}</p>
            <p><strong>Comunidad Asociada:</strong> {{incidente.comunidad.nombre}}</p>
            <p><strong>Usuario de Apertura:</strong> {{incidente.usuarioApertura.usuario}}</p>
            {{#if incidente.usuarioCierre}}
                <p><strong>Usuario de Cierre:</strong> {{incidente.usuarioCierre.usuario}}</p>
            {{/if}}
            <p><strong>Horario de Apertura:</strong> {{incidente.horarioApertura}}</p>
            {{#if incidente.horarioCierre}}
                <p><strong>Horario de Cierre:</strong> {{incidente.horarioCierre}}</p>
            {{/if}}
            <p><strong>Estado del Incidente:</strong> {{incidente.estado}}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/incidentes/{{incidente.id}}/editar">
                <i class="fas fa-edit"></i> Editar
            </a>
            <a class="btn btn-secondary" href="/comunidades/{{incidente.comunidad.id}}/incidentes">
                <i class="fas fa-list"></i> Volver a la Lista de Incidentes
            </a>
        </div>
    </div>
{{/partial}}
{{> templates/base}}
