{% render "incidentes" %}
{% assign incidentes = incidentes | default: [] %}

<h1 class="text-center mt-4">Lista de Incidentes</h1>
<div class="table-responsive mt-4">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id Incidente</th>
                <th>Servicio</th>
                <th>Establecimiento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for incidente in incidentes %}
                <tr>
                    <td>{{ incidente.id }}</td>
                    <td>{{ incidente.getServicioNombre }}</td>
                    <td>{{ incidente.getEstablecimientoNombre }}</td>
                    <td>{{ incidente.getEstado }}</td>
                    <td>
                        <a class="btn btn-primary" href="/incidentes/{{ incidente.id }}">
                            <i class="fas fa-search"></i> Ver
                        </a>
                        {% unless incidente.estaResuelto %}
                            <a class="btn btn-danger" href="/incidentes/{{ incidente.id }}/cerrar">
                                <i class="fas fa-times"></i> Cerrar
                            </a>
                        {% endunless %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary" href="/incidentes/crear">
        <i class="fas fa-plus"></i> Crear Incidente
    </a>
</div>
